<nav class="navbar navbar-expand-sm bg-dark" style="width: 100%">
  <a class="navbar-brand" href="/"><span>Just</span>CLick</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbar_collapse"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span>More</span>
  </button>
  <div class="collapse navbar-collapse" id="navbar_collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/movie">Movie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/anime">Anime</a>
      </li>
    </ul>
  </div>
</nav>
