/* welcomePage */
nav {
  padding: 3px 10px !important;
  position: sticky !important;
  top: 0 !important;
}
.navbar-nav {
  position: relative;
  margin-left: auto;
}

/* welcome_page_trending section */
.trending-posts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}
.grid-items {
  box-sizing: border-box;
}
.poster {
  width: 10rem;
  height: 250px;
}
.page_toggle_btn {
  width: 10rem;
  height: 2rem;
}

/* details page  */
.details_page_container {
  color: black;
  margin: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.details_poster {
  width: 14rem;
  height: 350px;
  border-radius: 5px;
}
.details {
  margin-left: 2rem;
}
.card {
  position: absolute;
  top: 0;
  margin-top: 8rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border: #333 solid 1.5px;
  border-radius: 20px;
  backdrop-filter: blur(100px);
  background: transparent;
}
.poster_banner {
  width: 100%;
}
.overview {
  font-size: 1.25rem;
}
.movie_container {
  text-decoration: none !important;
}
.movie_title {
  text-align: center;
  color: whitesmoke;
}
.movie_title:hover {
  color: aqua;
}
/* movie page */
.page_banner {
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-clip: border-box;
  background-attachment: fixed;
}

/* anime page */

.poster {
  display: block;
  width: 250px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}
/* .grid_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  margin-top: 2rem;
} */
#grid-items {
  width: 100%;
  border-bottom: solid 2px black;
  padding: 10px;
}

/* movies votes */
.movie-votes-poster {
  width: 200px;
  height: 250px;
}

/* favourite_movies */
.favourite_movies_grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  width: 100%;
}
.favourite_movies_poster {
  width: 200px;
  height: 250px;
  border: 2px whitesmoke solid;
  border-radius: 12px;
}
