html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
body {
  background-color: #1b1b1b;
  color: whitesmoke;
  /* box-sizing: border-box; */
}
.navbar-nav {
  position: relative;
  margin-left: auto;
}
.poster {
  display: block;
  width: 250px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 7px 6px grey;
}
/* .grid_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  margin-top: 2rem;
} */
#grid-items {
  border-bottom: solid 2px black;
  padding: 10px;
}
