body {
  background-color: #1b1b1b;
  color: whitesmoke;
}
.navbar-nav {
  position: relative;
  margin-left: auto;
}
.poster {
  position: relative;
  width: 150px;
  height: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  margin-top: 2rem;
  padding: 20px;
}
.grid-items {
  border-bottom: solid 2px black;
  padding: 10px;
}
@media screen and (max-width: 800px) {
  .grid_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    padding: 10px;
  }
  .poster {
    position: relative;
    width: 150px;
    height: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
