<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anime</title>
    <%- include('./partials/css.ejs') %>
    <link rel="stylesheet" href="/css/anime.css" />
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container">
      <form action="/anime" method="POST">
        <input type="text" class="form-control" name="anime_name" />
      </form>
    </div>
    <%- include('./partials/jQuery.ejs') %>
  </body>
</html>
