<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JustClick | Home</title>
    <%- include("./partials/css.ejs") %>
    <link rel="stylesheet" href="/css/welcomePage.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body>
    <div class="wrapper">
      <%-include("./partials/navbar.ejs") %>
      <div class="introBg"></div>
      <div class="container" style="margin-top: 15px; line-height: 1.5rem">
        <div class="container" style="line-height: 2.5rem; font-size: 25px">
          <h2 style="text-align: center">
            What is <span class="text-primary">Just</span
            ><span style="color: red">Click</span> ?
          </h2>
          <p>
            JustClick is a website for those who want to find informations of a
            movie or a TV show with just a few
            <span style="color: red">"Clicks"</span>. We arranged all of the
            different movies and TV shows data that are available on the
            internet in one place. So, that you don't have to go to any trouble
            of finding it from a ton of websites. We believe that it would save
            up a ton of your time.
          </p>
        </div>
        <div
          class="container"
          style="
            margin-top: 20px;
            border: 1px black;
            border-radius: 20px;
            box-shadow: 15px 10px 2px #333;
            background-color: black;
          "
          data-aos="fade-right"
        >
          <p>There are pages for different genres and categories.</p>
          <p>
            If you are searching for international movies and TV series, you can
            find it at <span style="color: red">"Movie"</span>
            page.
          </p>
          <p>
            If that is not what you are looking for, then you can look up at
            <span style="color: red">"Anime"</span> page.
          </p>
        </div>
      </div>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <%- include("./partials/jQuery.ejs") %>
  </body>
</html>
